.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

.plant-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.show-image {
    display: block;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    color: #666;
}

.edible {
    color: #2ecc71;
    font-weight: bold;
}

.not-edible {
    color: #e74c3c;
}

.slideshow-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.slide-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: space-between;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
}

.show-image .slide-controls {
    display: flex;
}

.slide-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 2px 8px;
    font-size: 12px;
}

.slide-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.slide-counter {
    color: white;
    font-size: 12px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90vh;
}

.modal-image {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.modal-close {
    position: absolute;
    top: -30px;
    right: 0;
    color: white;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
}

.modal-controls {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modal-button {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.modal-button:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* Добавляем стили для фильтров */
.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.search-container {
    flex: 1;
}

.edible-filter {
    display: flex;
    gap: 15px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.edible-filter label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.edible-filter input[type="radio"] {
    cursor: pointer;
}
