@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
/*html {
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

body {
  position: relative;
  background-color: #000;
  background-image: url('../images/death-pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #e5f4fb
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 400
}

h1 {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.4em
}

hr {
  border: none;
  border-bottom: 1px solid #e7e5ea;
  margin: 48px 0
}

p {
  font-size: 1.25em
}

p small {
  font-size: 0.65em;
  font-weight: 400;
  opacity: 0.5
}

a {
  text-decoration: none;
  color: #31aae3;
  transition: all 260ms ease-in-out
}

a:hover {
  color: #125f83
}*/

.app,
.wireframe {
  position: relative;
  height: 100vh
}

.app {
  display: table;
  width: 100%;
  text-align: center
}

.death-pic {
  height: 270px;
  padding-bottom: 20px;
}

@media screen and (min-width: 800px) {
  .app {
      padding: 48px
  }

}

.app .canvas {
  display: table-cell;
  vertical-align: middle
}

.app .canvas>div {
  max-width: 640px;
  margin: 0 auto
}

.huge {
  font-size: 2em;
  font-weight: 800
}

@media screen and (min-width: 800px) {
  .huge {
      font-size: 3.5em
  }

}

.label {
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  overflow: hidden;
  background: rgba(49, 170, 227, 0.25);
  display: inline-block;
  border-radius: 4px;
  color: #31aae3;
  text-align: center;
  font-size: 12px;
  line-height: 16px
}

.label.alert {
  background: linear-gradient(#f594a7, #f16581);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-items: stretch;
  align-items: stretch
}

button,
.ui--button {
  position: relative;
  border: none;
  display: inline-block;
  background: #125f83;
  border: 2px solid #125f83;
  color: #a1d8f2;
  text-transform: uppercase;
  padding: 12px 24px;
  margin: 0 6px 6px 0;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 600
}

button.icon,
.ui--button.icon {
  padding-right: 48px;
  padding-left: 12px
}

button.icon .material-icons,
.ui--button.icon .material-icons {
  position: absolute;
  top: 12px;
  right: 12px;
  line-height: 0.5em;
  padding: 0;
  padding: 0 0 0 12px;
  float: right
}

button.alt,
.ui--button.alt {
  background: none;
  border-color: #31aae3;
  color: #31aae3
}

button:focus,
.ui--button:focus {
  outline: none
}

button:hover,
.ui--button:hover {
  background: #31aae3;
  border-color: #31aae3;
  color: #fff
}

.ui--modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 260ms 260ms ease-in-out
}

@media screen and (max-width: 800px) {
  .ui--modal {
      padding: 24px
  }

}

.ui--modal>div:first-child {
  position: relative;
  background: #fff;
  color: #575265;
  width: 100%;
  min-width: 320px;
  max-width: 580px;
  min-height: 320px;
  padding: 48px;
  box-shadow: 0px 15px 35px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.5);
  transition: all 260ms 0ms cubic-bezier(0.97, 0.33, 0, -.1)
}

.ui--modal .ui--close {
  position: absolute;
  top: 24px;
  right: 24px
}

.ui--modal p {
  margin-top: 0
}

.ui--modal .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0px;
  width: 100vw;
  height: 100vh
}

.ui--modal .bg img {
  object-fit: cover;
  width: 100vw;
  height: 100vh
}

.ui--modal:target {
  opacity: 1;
  pointer-events: all;
  transition: all 260ms 0ms ease-in-out
}

.ui--modal:target>div {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms 300ms cubic-bezier(0.97, 0.33, 0, -.1)
}