body {
  position: relative;
  overflow: auto;
  background-color: black;
}

table {
  position: absolute;
  border-collapse: collapse; 
}

tr {
  margin: 0;
  padding: 0;
}

td {
    display: inline-block;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    padding: 0;
}

/*Too overrade stupid _reboot.scss of Bootstrap that breaks my containers cells*/
*, ::after, ::before {
  box-sizing: content-box;
}

kbd {
  text-transform: uppercase;
}

.world {
  cursor: url(../images/cursors/normal.cur), auto;
}

.cursor-satelite {
  background: yellow;
  height: 32px;
  position: absolute;
  width: 32px;
  z-index: 2;
  
  /* Move Cursor Satelite to a separate rendering layer to reduce CPU usage */
  transform: translateZ(0);
}

.editors-panel, .creatures-panel {
  background-color: black;
  border: 2px solid black;
  height: 45%;
  overflow: auto;
  position: fixed;
  top: 50vh;
  width: 30%;
  z-index: 2;
}

.editors-panel {
  left: 65vw;
}

.creatures-panel {
  left: 1vw;
}

.current-object-panel {
  border: 2px solid black;
  height: 64px;
  position: fixed;
  width: 64px;
  z-index: 2;
}

.current-object-cell {
  border: 1px solid black;
  margin: 16px;
}

.doors-menu-panel {
  border: 2px solid black;
  height: 32px;
  left: 74px;
  opacity: 0.7;
  position: fixed;
  width: 128px;
  z-index: 2;
}

.react-root {
  color: white;
  position: fixed;
  left: 50%;
  z-index: 5;
}

.prompt-pic, .creature-pic {
  display: inline-block;
  height: 32px;
  /*margin-left: auto;
  margin-right: auto;*/
  width: 32px;
}

.prompt-pic {
  background: url(../images/sprites.png) -1376px -992px;
}

.creature-pic {
  background: url(../images/sprites.png) -480px -2432px;
}

.sprite-locations-storage {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.manual-button {
  color: white;
  position: fixed;
  left: 90%;
  text-decoration: none;
  z-index: 5;
}

.manual-button:hover {
  text-decoration-line: underline;
}

.app, .explode, .msg {
  position: absolute;
  top: 50%;
  z-index: 100;
}

.fog-of-war {
  overflow: scroll;
  pointer-events: none;
  z-index: 2;
}

.prompt-window {
  background-color: #312f2f;
  border: 2px solid black;
  color: #beb0b0;
  height: 45px;
  left: 5px;
  overflow: auto;
  padding: 5px;
  position: fixed;
  width: 100px;
  z-index: 2;
}

.close-prompt-window-button {
  background-color: #f6ebeb;
  border: 5px solid black;
  color: black;
  cursor: pointer;
  height: 10px;
  left: 120px;
  line-height: 10px;
  opacity: .7;
  position: fixed;
  text-align: center;
  width: 10px;
  z-index: 3;
}

.close-prompt-window-button:hover {
  opacity: 1;
}

.health-bar, .stamina-bar {
  cursor: default;
  height: 20px;
  position: fixed;
  z-index: 3;
  line-height: 20px;
}

.health-bar {
  background-color: green;
  top: 80px;
}

.stamina-bar {
  background-color: snow;
  top: 110px;
}

.inventory-panel {
  background-color: brown;
  border: 2px solid black;
  height: 45%;
  position: fixed;
  right: 20px;
  width: 446px;
  z-index: 2;
}

.inventory-button, .health-potion-button, .desc-console-button, .herbs-storage-button {
  cursor: pointer;
  height: 32px;
  opacity: .8;
  position: fixed;
  width: 32px;
  z-index: 2;
}

.inventory-button {
  left: 10px;
  top: 160px;
}

.health-potion-button {
  color: orange;
  right: 10px;
  top: 160px;
}

.herbs-storage-button {
  right: 10px;
  top: 192px;
}

.desc-console-button {
  left: 10px;
  top: 192px;
}

.inventory-button:hover, .health-potion-button:hover, .desc-console-button:hover, .herbs-storage-button:hover {
  opacity: 1;
}

.general-purpose-buttons-panel {
  position: fixed;
  z-index: 2;
  background: brown;
  bottom: 20px;
  left: 140px;
  border-radius: 10px;
  padding: 5px;
  min-width: 320px;
  opacity: .5;
}

.general-purpose-buttons-panel:hover {
  opacity: 1;
}

.find-player-button {
  cursor: pointer;
  height: 32px;
  opacity: .8;
  width: 32px;
}

.find-player-button:hover {
  opacity: 1;
}

@keyframes pulse-border {
  from, to { box-shadow: inset 0 0 0 0 yellow;}
  50% { box-shadow: inset 0 0 4px 4px yellow; }
}

.highlight {
  animation: pulse-border 1s infinite;
}

.quick-access-cells-container {
  margin: 5px;
  right: 0;
}

.quick-access-cells-container td {
  border: 1px solid black;
}

.inventory-equipped-items-section {
  background: maroon url(../images/silhouette.png) no-repeat center;
  border: 1px solid black;
  height: 100%;
  width: 40%;
}

.equipped-items-slot-default {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  /* height: 32px; */
  position: absolute;
  /* width: 32px; */
}

.inventory-cells {
  bottom: 0;
  margin: 5px;
  right: 0;
}

.container-panel {
  background-color: brown;
  border: 2px solid black;
  left: 25vw;
  position: fixed;
  z-index: 2;
}

.darkness {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-name: appearing;
  background-color: black;
  height: 4000px;
  position: absolute;
  width: 2000px;
  z-index: 6; 
}

@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cursor-status-bar {
  background-color: rgba(161, 148, 35, 0.623);
  left: 50%;
  padding: 5px;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 100;
}

.context-menu-holder svg image {
  pointer-events: none;
}

.desc-console {
  //border: 2px solid green;
  color: bisque;
  height: 250px;
  opacity: .3;
  overflow: hidden;
  padding: 1rem;
  pointer-events: none;
  position: fixed;
  top: 250px;
  width: 250px;
  z-index: 20;
}

.herb-name {
  cursor: pointer;
  pointer-events: auto;
}

[data-notify="icon"] img {
  border-radius: 10px;
}

.mini-map-canvas {
  border: 1px solid gold;
  left: 20px;
  opacity: .7;
  position: fixed;
  top: 90%;
  z-index: 3;
}

/* The following styles are used for showing history from desc-console */

[data-notify="container"][class*="alert-pastel-"] {
  background-color: rgb(255, 255, 238);
  border-width: 0px;
  border-left: 15px solid rgb(255, 240, 106);
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
  max-height: 50%;
  font-family: 'Old Standard TT', serif;
  letter-spacing: 1px;
  overflow: auto;
}
/*[data-notify="container"].alert-pastel-info {
  border-left-color: rgb(255, 179, 40);
}
[data-notify="container"].alert-pastel-danger {
  border-left-color: rgb(255, 103, 76);
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
  color: rgb(80, 80, 57);
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
  font-weight: 400;
}*/

/* End of styles for history from desc-console*/