.intro-skip-button {
  color: white;
  display: none;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 4;
}

.intro-skip-button:hover {
  color: green;
}

.intro-image, .intro-text, .intro-shadow {
  margin: 0 auto;
  width: 79%;
}

.intro-image {
  background-image: url('../images/intro-image.png');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: 100% 100%;
  box-shadow: 0px 15px 20px 0px #deab54;
  display: none;
  height: 33vh;
  margin-left: 10vw;
  margin-top: -8px;
  position: absolute;
  top: 0;
  width: 80%;
  z-index: 2;
}

.intro-text {
  animation-duration: 40s;
  animation-fill-mode: forwards;
  animation-name: slideup;
  animation-timing-function: linear;
  color: #729f3e;
  display: none;
  font-family: 'Macondo Swash Caps';
  font-size: 5vh;
  top: 80vh;
  left: 11vw;
  position: absolute;
  text-align: justify;
  z-index: 1;
}

@keyframes slideup {
  from {
    
  }

  to {
    top: -35vh;
  }
}

.intro-button {
  animation-delay: 40s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-name: appearing;
  background-color: #0c0e07;
  border: 2px solid #719f3e;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #deab54;
  color: #729f3e;
  display: none;
  font-family: fantasy;
  font-size: 4vh;
  height: 7vh;
  left: 40vw;
  line-height: 6vh;
  margin: 0 auto;
  top: 70vh;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 20%;
  z-index: 3;
}

@keyframes appearing {
  from {
    
  }

  to {
    opacity: 1;
  }
}

.intro-button:hover {
  border-color: #deab54;
  color: #deab54;
}