.herbal-storage-board {
  background: bisque;
  border-radius: 5px;
  height: 80vh;
  left: 10vw;
  padding: 15px;
  position: fixed;
  top: 10vh;
  width: 80vw;
  z-index: 21;
  overflow: auto;
}

.herbal-storage-close-btn {
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  width: 2rem;
  height: 2rem;
  opacity: .7;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
}