body {
  background: url('../images/main-menu-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-menu {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.main-menu-item {
  background-color: #81563a;
  border: 2px solid #a1673a;
  border-radius: 10px;
  clear: both;
  color: #f2eaad;
  display: block;
  float: right;
  font-family: fantasy;
  height: 5vh;
  line-height: 5vh;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 20%;
}

.disabled {
  border: 2px solid #6b482e;
  color: #491c1c;
  cursor: default;
}

.active:hover {
  border: 2px solid #2d190a;
}

.modal-dialog {
  color: #f2eaad;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal-dialog:target {
  opacity:1;
  pointer-events: auto;
}

.modal-dialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #a1673a;
  background: -moz-linear-gradient(#d58c54, #81563a);
  background: -webkit-linear-gradient(#d58c54, #81563a);
  background: -o-linear-gradient(#d58c54, #81563a);
}

.close-modal-dialog {
  font-family: Arial, Helvetica, sans-serif;
  background: #81563a;
  color: #f2eaad;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close-modal-dialog:hover {
  background: #491c1c;
}

p, h2 {
  text-align: center;
}