.mg-herbs-collecting-board,
.mg-math-board,
.mg-combat-board {
  background: bisque;
  border-radius: 5px;
  height: 80vh;
  left: 10vw;
  padding: 15px;
  position: fixed;
  top: 10vh;
  width: 80vw;
  z-index: 21;
  overflow: auto;
}

.mg-herbs-collecting-main-card {
  //background: red;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  font-style: italic;
}

.mg-herbs-collecting-option-card {
  cursor: pointer;
  border: 2px dotted brown;
  display: inline-block;
  background: green;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  padding: 10px;
}

.mg-herbs-collecting-option-card:hover {
  border: 2px solid black;
}

.mg-herbs-collecting-close-btn,
.mg-math-close-btn,
.mg-combat-close-btn {
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  width: 2rem;
  height: 2rem;
  opacity: .7;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
}

.mg-herbs-collecting-close-btn:hover,
.mg-math-close-btn:hover {
  opacity: 1;
}

.mg-math-equation-container {
  display: inline-block;
  margin-bottom: 10px;
  font-family: cursive;
}

.mg-math-input {
  width: 25px;
}

.mg-math-mini-game-ok-btn {
  margin-top: 10px;
  cursor: pointer;
}

.mg-attack-bar-container,
.mg-defence-bar-container {
  display: flex;
  justify-content: center;
}

.mg-attack-bar-container .mg-combat-cell {
  border: 1px solid blue;
}

.mg-defence-bar-container .mg-combat-cell {
  border: 1px solid red;
}

.mg-combat-cell {
  width: 32px;
  height: 32px;
  color: grey;
  text-align: center;
}

.mg-combat-active-cell {
  border: 3px solid green;
  color: black;
  text-align: center;
}

.mg-combat-pictures-container {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}
