@import './ui/contextMenu/contextMenuInputWrapper.css';

body {
  margin: 0;
}

.hidden {
  display: none!important;
}

.context-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  padding: 10px;
  pointer-events: none;
}

.context-menu-item {
  margin: 2px;
  padding: 10px;
  cursor: pointer;
  background: #219e2180;
  pointer-events: all;
}

.context-menu-item:hover {
  background: #219e21;
}

.context-menu-item[data-hotkey]::after {
  content: ' (' attr(data-hotkey) ') ';
}

.context-menu-close-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  background: rgb(168, 89, 89);
  pointer-events: all;
}

.context-menu-close-btn:hover {
  background: rgb(134, 69, 69);
  cursor: pointer;
}

.context-menu-selected-cell {
  box-shadow: inset 0px 0px 2px 2px gold;
}


.debug-selected-cell {
  border: 2px solid yellow;
}

.animation-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.sprite-source {
  display: none;
}

.minigame-iframe-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  min-width: 100px;
  min-height: 100px;
  margin: 10px;
}

.minigame-iframe {
  resize: both;
  border: none;
  background: rgba(245, 245, 220, 0.3);
}

.minigame-controls {
  position: absolute;
  top: 0;
  right: -30px;
  min-width: 20px;
  min-height: 20px;
  background: #c1c1c1;
  user-select: none;
}

.minigame-controls .btn {
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  opacity: .5;
}

.minigame-controls .btn:hover {
  opacity: 1;
  cursor: pointer;
}

.minigame-controls .drag-btn:hover {
  cursor: move;
}
